__pycache__/
*.py[cod]
*.so

.venv/
venv/
env/
.env

.idea/
.vscode/
.DS_Store

*.npy
*.npz
trace/**
traces/
output/
outputs/
!trace/
!trace/DS-R1/
!trace/DS-R1/LmSys.npy
!trace/Qwen3/
!trace/Qwen3/LmSys.npy
*.png
*.jpg
*.jpeg
*.pdf

*.zip
*.tar
*.tar.gz
